TEMP_DIR=data/temp
MAX_TEMP_SIZE_GB=10
TEMP_MAX_AGE_DAYS=5
TOPIC_MAX_AGE_DAYS=90
MAX_TEMP_FILES=5
READAHEAD_SECONDS=900
READAHEAD_RECHARGE_SECONDS=300
READAHEAD_MAX_MB=128
SERVER_PORT=14876
ENRICH_INTERVAL_MINUTES=2
