.venv/
__pycache__/
*.py[cod]

.env
*.lock
*.tmp
logs/

data/*
!data/.gitkeep
!data/posters/
data/posters/*
!data/posters/placeholder.png

temp/
/posters/
topic_cache/

torrents_data.json
imdb_basics_cache.json
imdb_ratings_cache.json
imdb_search_cache.json
kp_search_cache.json
youtube_cache.json
imdb_trailer_cache.json
index-kino.html

.pytest_cache/
.mypy_cache/
.ruff_cache/
